
.box{
    border: 3px solid black ;
    align-content: center;
    /* padding: 5px; */
    margin-left: 29.5%;
    margin-right: 29.5%;
    height: 70px;
    border-radius: 5px;
    
}

.text{
    text-align: right;
    font-size: 3.5rem;
}